{
  "plugins": ["standard", "vue"],
  "extends": [
    "standard",
    "plugin:vue/essential",
    "plugin:prettier/recommended"
  ],
  "rules": {
    // js
    "prefer-const": "warn",
    "no-unused-vars": "warn",
    "promise/param-names": "off",
    "no-control-regex": "off",
    "prefer-destructuring": "off",

    // vue
    "vue/comment-directive": "off",
    "vue/no-unused-vars": "warn",
    "vue/no-multiple-template-root": "off",
    "vue/valid-template-root": "off",

    "prettier/prettier": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
