@mixin paper-border {
  border-radius: #{$paper-border-radius};
}

@mixin absolute(
  $top: 0px,
  $right: $top,
  $bottom: $top,
  $left: $right
) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin flex($justify-content: center, $align-items: center, $flex-direction: row) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin loading-wave() {
  $wave-colors: lightseagreen, lightblue, lightpink,
    LightGoldenRodYellow, lightsalmon;

  $wave-color-count: length($wave-colors);
  background: linear-gradient(90deg, $wave-colors);
  background-size: $wave-color-count * 200%;

  -webkit-animation: loading-wave $wave-color-count * 1s ease infinite;
  -moz-animation: loading-wave $wave-color-count * 1s ease infinite;
  animation: loading-wave $wave-color-count * 1s ease infinite;
}

@-webkit-keyframes loading-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes loading-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
