$appbar-height: 80;
$spacing: 8;

$primary: #409eff;
$primary-dark: #2090ff;
$primary-light: #81c0ff;
$primary-clear: #c5e2ff40;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;

$text-primary: #303133;
$text-regular: #606266;
$text-secondary: #909399;
$text-placeholder: #c0c4cc;

$border-base: #dcdfe6;
$border-dark: #c2c4ca;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-extralight: #f2f6fc;

$background-black: #000000;
$background-white: #ffffff;
$background-hazy: #ffffff50;
$background: transparent;

$divider: #dcdfe6;
