html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  color: #{$text-regular};
  font-size: 14px;
}

body * {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}
