{
  "extends": [
    "standard",
    "plugin:vue/essential",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prefer-const": "warn",
    "no-unused-vars": "warn",

    "vue/comment-directive": "off",
    "vue/valid-template-root": "off"
  }
}
