{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "always",
      { "js": "never", "ts": "never", "json": "never" }
    ],
    "no-unused-vars": "warn",
    "no-console": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "lines-between-class-members": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "max-classes-per-file": "off",
    "no-return-assign": "off",
    "no-useless-constructor": "warn",
    "no-empty-function": "warn",
    "no-param-reassign": ["warn"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "overrides": [
    {
      "files": ["**/*.d.ts"],
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
